/* <header>
    <nav>
        <img src="../img/Group 14.png" alt="logo living">
        <a href="../../index.html">Home</a>
    </nav>
</header> */
:root {
    --color-grey-100: #212529;
    --color-grey-200: #495057;
    --color-grey-300: #808387;
    --color-grey-400: #dee2e6;
    --color-grey-500: #e9ecef;
    --color-grey-600: #f1f3f5;
    --color-grey-700: #f8f9fa;
    --color-brand-100: #087f5b;
    --color-brand-200: #099268;
    --font-size-1: 2.5rem;
    --font-size-2: 1.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
}

nav{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav > img{
    width: 128px;
    height: 42px;
}

nav > a{
    display: flex;
    align-items: center;
    max-width: 100px;
    height: 32px;
    text-decoration: none;
    color: var(--color-grey-100);
    background-color: var(--color-grey-700);
    border: 1px solid var(--color-grey-700);
    border-radius: 32px;
    padding: 0px 22px 0px 22px;
    cursor: pointer;
}

.title{
    width: 100vw;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-600);
}

.title-post{
    width: 70%;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.title-post > h2{
    font-weight: 600;
    font-size: var(--font-size-1);
}

.title-post > p{
    font-weight: 400;
    font-size: var(--font-size-4);
}

.post{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content-post{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-post > img{
    width: 100%;
    height: 300px;
}

.content-post > p{
    width: 100%;
    font-weight: 400;
    font-size: var(--font-size-4);
}

.filter{
    position: relative;
    border-radius: 2px;
    width: 1050px;
    height: 95px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-filter{
    max-width: 200px;
    height: 38px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-grey-600);
    background-color: var(--color-grey-600);
    border-radius: 32px;
    padding: 0px 22px 0px 22px ; 
    cursor: pointer;
}

.description-footer{
    position: sticky;
    width: 100vw;
    height: 200px;
    background-color: var(--color-grey-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px;
}

.div-description{
    width: 850px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.description-footer > a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 32px;
    border: 1px solid var(--color-grey-300);
    background-color: var(--color-grey-300);
    color: var(--color-grey-700);
    border-radius: 12px;
    cursor: pointer;
}